.details {
  margin: 2rem;
}

.details div {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #ffffff;
  min-width: 2rem;
  margin-right: 8rem;
}

.details h5 {
  margin: 0 auto;
  margin-left: 40px;
}

.details ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details li {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #ffffff;
  min-width: 250px;
}

.details label {
  margin: 10px;
  font-family: Helvetica;
  font-size: medium;
  letter-spacing: 1px;
  /* font-variant: small-caps;
  text-transform: uppercase; */
}
