.footer-container {
  width: 100%;
  border-top: 1px solid rgb(243, 241, 241);
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1080px;
  margin: 0 auto;
}

.footer button {
  background-color: #4d018b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.footer button.disabled-button {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

.footer button:hover {
  background-color: #4d018b;
}

.footer span {
  font-size: 20px;
}

.footer a {
  color: #000000;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: underline;
}
